// colors
$white: #fff;
$black: #000;

$grey: #676767;
$nobelGrey: #989898;
$midGrey: #7a7d80;
$lightGrey: #e2e2e2;

// media queries
$screenMaxWidth1024: "all and (max-width: 1024px)";
$screenMaxWidth768: "all and (max-width: 768px)";
$screenMaxWidth640: "all and (max-width: 640px)";
$screenMaxWidth480: "all and (max-width: 480px)";
