:root,
[data-bs-theme="light"] {

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  // Fonts
  --font-sans-serif: #{inspect($font-family-sans-serif)};
  --font-monospace: #{inspect($font-family-monospace)};

  // Root and body
  @if $font-size-root !=null {
    --root-font-size: #{$font-size-root};
  }

  --body-font-family: #{inspect($font-family-base)};
  --body-font-weight: #{$font-weight-base};
  --body-line-height: #{$line-height-base};

  --body-color: #{$body-color};
  --body-color-rgb: #{to-rgb($body-color)};
  --body-bg: #{$body-bg};
  --body-bg-rgb: #{to-rgb($body-bg)};

  --link-color: #{$link-color};
  --link-color-rgb: #{to-rgb($link-color)};
  --link-decoration: #{$link-decoration};

  --link-hover-color: #{$link-hover-color};
  --link-hover-color-rgb: #{to-rgb($link-hover-color)};

  @if $link-hover-decoration !=null {
    --link-hover-decoration: #{$link-hover-decoration};
  }

  --border-width: #{$border-width};
  --border-style: #{$border-style};
  --border-color: #{$border-color};

  // Heading 
  --heading-color: #{$headings-color};
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    color-scheme: dark;

    --body-color: #{$body-color-dark};
    --body-color-rgb: #{to-rgb($body-color-dark)};
    --body-bg: #{$body-bg-dark};
    --body-bg-rgb: #{to-rgb($body-bg-dark)};

    --link-color: #{$link-color-dark};
    --link-hover-color: #{$link-hover-color-dark};
    --link-color-rgb: #{to-rgb($link-color-dark)};
    --link-hover-color-rgb: #{to-rgb($link-hover-color-dark)};

    --border-color: #{$border-color-dark};

    --heading-color: #{$headings-color-dark};
  }
}