// Body
$primary: $black !default;
$body-color-dark: $white;
$body-bg-dark: $black;

// Links
$link-color-dark: $blue !default;
$link-hover-color-dark: $primary !default;

// Border
$border-color-dark: $white !default;

// Heading
$headings-color-dark: inherit !default;
