// Body
$primary: $black !default;
$body-color-dark: $white;
$body-bg-dark: $black;

// Links
$link-color-dark: $blue !default;
$link-hover-color-dark: $primary !default;

// Border
$border-color: $white !default;
$border-color-translucent: rgba($black, .175) !default;

// Heading
$headings-color-dark: inherit !default;

// Code
$code-color-dark:                   $code-color !default;
$mark-color-dark:                   $body-color-dark !default;
$mark-bg-dark:                      $yellow !default;