// Color system

$white: #ffffff !default;
$black: #000000 !default;
$blue: #0d6efd !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$green: #198754 !default;
$cyan: #0dcaf0 !default;

$primary: $black !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;

$theme-colors: (
  "primary": $primary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger) !default;

$colors: (
  "blue": $blue,
  "red": $red,
  "orange": $orange,
  "green": $green,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  ) !default;

// Spacing
$spacer: 1rem !default;

// Body
$body-color: $black !default;
$body-bg: $white !default;

// Paragraphs
$paragraph-margin-bottom: 1rem !default;

// Heading
$headings-margin-bottom: $spacer * .5 !default;
$headings-color: inherit !default;

// Links
$link-color: $blue !default;
$link-decoration: null !default;
$link-hover-color: $primary !default;
$link-hover-decoration: underline !default;

// Border
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $black !default;

// Font
$font-family-sans-serif: "Helvetica Neue", "Arial", "sans-serif" !default;
$font-family-monospace: "Courier New", "monospace" !default;
$font-family-base: var(--font-sans-serif) !default;
$font-family-code: var(--font-monospace) !default;
$font-size-root: 62.5% !default;
$font-size-base: 1rem !default;
$small-font-size: .875em !default;
$sub-sup-font-size: .75em !default;
$font-weight-base: normal !default;

// Line Height
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Headings
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Options
$enable-dark-mode: true !default;
$color-mode-type: data !default; // `data` or `media-query`
$enable-smooth-scroll: true !default;